.git
.gitignore
.env
.env.*
!.env.example
.ruff_cache
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.egg-info
dist
build
.venv
venv
env
*.log
*.md
!prompts/*.md
Thumbs.db
.DS_Store
docker-compose*.yml
tests/
