# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Variables de entorno
.env
.env.prod

# Ruff
.ruff_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS
Thumbs.db
.DS_Store
